<style>
  td {
    padding-right: 20px;
  }

  .resuTitle {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
    color: black;
    font-weight: bold;
    margin: 0;
  }

  .page {
    align-self: center;
    width: 8.5in;
    height: 11in;
    margin: 0;
    padding: 0;
  }

  .address {
    display: inline-block;
    width: 300;
  }

  .sectionTitle {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
    color: black;
    font-weight: bold;
    margin: 0;
  }

  .subsection {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 0;
  }
</style>

<!DOCTYPE html>

<head>
  <link
    href="https://fonts.googleapis.com/css?family=Marko+One&display=swap"
    rel="stylesheet"
  />
  <title>CV Parser</title>
</head>

<body>
  <div class="page">
    <h2 class="resuTitle">CURRICULUM VITAE</h2>
    <h2 id="name" class="resuTitle">{{ resume.name }}</h2>
    <h2 id="email-head" class="resuTitle">{{ resume.email }}</h2>
    <br />
    <h2 class="sectionTitle">Personal Information:</h2>

    <div style="display: table; align-self: center;">
      <div class="address" style="float: left;">
        <h3 style="font-weight: bold;margin-bottom: 0;">Work</h3>
        <div id="work" style="margin-left: 10;">
          Children’s Hospital Los Angeles<br />
          4650 Sunset Blvd., Mailstop<br />
          Los Angeles, CA 90027<br />
          Phone: (323) 361-2113<br />
          Fax: (323) 361-8003<br />
        </div>
      </div>
      <div class="address" style="float:center;">
        <h3 style="font-weight: bold;margin-bottom: 0;">Home</h3>
        <div id="home" style="margin-left: 10;">
          Children’s Hospital Los Angeles<br />
          4650 Sunset Blvd., Mailstop<br />
          Los Angeles, CA 90027<br />
          Phone: (323) 361-2113<br />
          Fax: (323) 361-8003<br />
        </div>
      </div>
    </div>
    <br />

    <!-- Education and personal information -->
    <h2 class="sectionTitle">Education and Professional Appoitments:</h2>
    <h3 class="subsection">Education:</h3>
    <div id="education" style="margin-left: 10;">
      {{ resume.education }}
    </div>

    <h3 class="subsection">Post-Graduation Training:</h3>
    <div id="pgt" style="margin-left: 10;">
      {{ resume.post_graduate_training }}
    </div>

    <h3 class="subsection">Other Training:</h3>
    <div id="othertrain" style="margin-left: 10;">
      {{ resume.other_training }}
    </div>

    <h3 class="subsection">Academic Appoitments:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="academic">
        <tr style="font-style: italic;">
          <td>Year-Year</td>
          <td>Appointment</td>
          <td>Department, Institution, City, Country</td>
        </tr>
        <tr>
          <td>2014-present</td>
          <td>Assistant Professor of<br />Clinical Pediatrics</td>
          <td>Keck School of Medicine of USC, Los Angeles, CA</td>
        </tr>
      </table>
    </div>

    <h3 class="subsection">Clinical Appoitments:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="clinical">
        <tr style="font-style: italic;">
          <td>Year-Year</td>
          <td>Appointment</td>
          <td>Department, Institution, City, Country</td>
        </tr>
        <tr>
          <td>2014-present</td>
          <td>Assistant Professor of<br />Clinical Pediatrics</td>
          <td>Keck School of Medicine of USC, Los Angeles, CA</td>
        </tr>
      </table>
    </div>
    <br />

    <!--Lincesure, Certification-->
    <h2 class="sectionTitle">Licensure, Certifications:</h2>
    <h3 class="subsection">Licensure:</h3>
    <div id="license" style="margin-left: 10;">
      {{ resume.license }}
    </div>

    <h3 class="subsection">Board Certification or Eligibility:</h3>
    <div id="board" style="margin-left: 10;">
      <i>Year&emsp;Board, State, Status</i><br />
      2012&emsp;Medical Board of California, current<br />
      2013&emsp;American Board of Pediatrics, current
    </div>
    <br />

    <!--Honors and Awards-->
    <h2 class="sectionTitle">Honors, Awards:</h2>
    <h3 class="subsection">Didactic Teaching:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="honors">
        <tr style="font-style: italic;">
          <td>Year</td>
          <td>Description</td>
          <td>Awarding agency, address, city</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>Assistant Professor of<br />Clinical Pediatrics</td>
          <td>Keck School of Medicine of USC, Los Angeles, CA</td>
        </tr>
      </table>
    </div>

    <br />

    <!--Teaching-->
    <h2 class="sectionTitle">Teaching:</h2>
    <h3 class="subsection">Didactic Teaching:</h3>
    <div class="didactic" style="margin-left:10;"></div>

    <br />

    <h3 class="subsection">
      Undergraduate, Graduate and Medical Student (or Other) Mentorship:
    </h3>
    <div style="margin-left: 10;">
      <table border="0" id="ugm">
        <tr style="font-style: italic;">
          <td>Year-Year</td>
          <td>Traniee Name</td>
          <td>Traniee Type</td>
          <td>Dissertation/Thesis/Project Title</td>
        </tr>
        <tr>
          <td>2015-2018</td>
          <td>Barbara Lam</td>
          <td>Medical Student</td>
          <td>Technology access in Haiti</td>
        </tr>
      </table>
    </div>

    <br />

    <h3 class="subsection">
      Graduate Student Thesis, Exam and Dissertation Committees:
    </h3>
    <div style="margin-left: 10;">
      <table border="0" id="gst">
        <tr style="font-style: italic;">
          <td>Year-Year</td>
          <td>Traniee Name</td>
          <td>Committee Type</td>
          <td>Student Department</td>
        </tr>
        <tr>
          <td>2015-2018</td>
          <td>Alauna Hersch</td>
          <td>Scholarly Oversight</td>
          <td>Gastroenterology, Pediatrics</td>
        </tr>
      </table>
    </div>

    <h3 class="subsection">Postgraduate Mentorship:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="pgm">
        <tr style="font-style: italic;">
          <td>Year-Year</td>
          <td>Traniee Name</td>
          <td>Current position and location</td>
        </tr>
        <tr>
          <td>2015-2018</td>
          <td>Ali Arastu</td>
          <td>Critical Care Fellow, Stanford University</td>
        </tr>
      </table>
    </div>

    <br />

    <!--Service-->
    <h2 class="sectionTitle">Service:</h2>
    <h3 class="subsection">Hopital or Medical Group Service:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="hmg">
        <tr style="font-style: italic;">
          <td>Year-Year</td>
          <td>Position, Committee</td>
          <td>Organization/Institution</td>
        </tr>
        <tr>
          <td>2015-2018</td>
          <td>AAP Program Representative</td>
          <td>CHLA Pediatric Residency Program</td>
        </tr>
      </table>
    </div>

    <br />

    <h3 class="subsection">University Service:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="us">
        <tr style="font-style: italic;">
          <td>Year-Year</td>
          <td>Position, Committee</td>
          <td>Organization/Institution</td>
        </tr>
        <tr>
          <td>2015-2018</td>
          <td>AAP Program Representative</td>
          <td>CHLA Pediatric Residency Program</td>
        </tr>
      </table>
    </div>

    <br />

    <h3 class="subsection">Professional Service:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="ps">
        <tr style="font-style: italic;">
          <td>Year-Year</td>
          <td>Position, Committee</td>
          <td>Organization/Institution</td>
        </tr>
        <tr>
          <td>2015-2018</td>
          <td>AAP Program Representative</td>
          <td>CHLA Pediatric Residency Program</td>
        </tr>
      </table>
    </div>

    <h3 class="subsection">Professional Society Memberships:</h3>
    <div style="margin-left: 10;" id="psm">
      <i>Year-Year&emsp;&emsp; Society</i><br />
      2006–present&emsp;American Medical Association<br />
      2010–present&emsp;American Academy of Pediatrics
    </div>

    <br />

    <h3 class="subsection">Community Service:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="cs">
        <tr style="font-style: italic;">
          <td>Year-Year</td>
          <td>Position</td>
          <td>Organization/Institution, City</td>
          <td>Role or Activity</td>
        </tr>
        <tr>
          <td>2015-2018</td>
          <td>Translator</td>
          <td>Bodyworks Community Health<br />Program</td>
          <td>Translator for program</td>
        </tr>
      </table>
    </div>

    <br />

    <h3 class="subsection">Major Leardership positions:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="mlp">
        <tr style="font-style: italic;">
          <td>Year-Year</td>
          <td>Position</td>
          <td>Narrative listing Accomplishments- or add appendix</td>
        </tr>
        <tr>
          <td>2015-2018</td>
          <td>Founder and<br />Medical Director</td>
          <td>
            Founder and Medical Director of MD Digital Media, Los Angeles, CA
          </td>
        </tr>
      </table>
    </div>
    <br />

    <!--Research and scholarship-->
    <h2 class="sectionTitle">Research and Scholarship:</h2>
    <h3 class="subsection">Major Areas of Research Interest:</h3>
    <div id="ra" style="margin-left:10;"></div>

    <br />

    <h3 class="subsection">Grant Support - Current (Research in progress):</h3>
    <div id="gsc" style="margin-left:10;"></div>

    <br />

    <h3 class="subsection">Issued and Pending Patents:</h3>
    <div id="ipp" style="margin-left:10;">
      Patent Holder Names. Title. Institution. File #. Reference #. US Patent
      and Trademark Serial No. COMPOSITIONS AND METHODS FOR DELIVERING
      INHIBITORY OLIGONUCLEOTIDES, filed on April 15, 2008 Serial No. 61/045,088
    </div>

    <br />

    <h3 class="subsection">Invited Lectures, Symposia, Keynote Addresses:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="ils">
        <tr style="font-style: italic;">
          <td>Year</td>
          <td>Type</td>
          <td>Title, Location</td>
        </tr>
        <tr>
          <td>2015</td>
          <td>Platform Presentation</td>
          <td>
            “Final report on outcome of children with newly diagnosed high grade
            glioma<br />
            (HGG) treated with multi-drug induction chemotherapy followed by<br />
            consolidative myeloablative chemotherapy and autologous
            hematopoietic<br />
            progenitor cell rescue (AuHPCR) on the “Head Start” II and III
            Protocols.”<br />
            Platform presentation, Society for Neuro Oncology Annual Meeting,
            Anaheim, CA
          </td>
        </tr>
      </table>
    </div>

    <br />

    <h3 class="subsection">Invited Grand Rounds, CME Lectures:</h3>
    <div style="margin-left: 10;">
      <table border="0" id="igr">
        <tr style="font-style: italic;">
          <td>Year</td>
          <td>Type</td>
          <td>Title, Location</td>
        </tr>
        <tr>
          <td>2015</td>
          <td>Platform Presentation</td>
          <td>
            “Final report on outcome of children with newly diagnosed high grade
            glioma<br />
            (HGG) treated with multi-drug induction chemotherapy followed by<br />
            consolidative myeloablative chemotherapy and autologous
            hematopoietic<br />
            progenitor cell rescue (AuHPCR) on the “Head Start” II and III
            Protocols.”<br />
            Platform presentation, Society for Neuro Oncology Annual Meeting,
            Anaheim, CA
          </td>
        </tr>
      </table>
    </div>

    <br />

    <!--Publications-->
    <h2 class="sectionTitle">Publications:</h2>
  </div>
</body>
