<!DOCTYPE html>
<style>
    #n1_2 {
        width: 100%;
        height: 100%;
        font-family: "Marko One";
        color:white;
        background: rgb(1, 91, 154);
    }


</style>
<head>
     <!-- Compiled and minified CSS
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     Compiled and minified JavaScript -->
     <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/> --> 
     <link href="https://fonts.googleapis.com/css?family=Marko+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title> CV Parser</title>

    <script>

        var autoExpand = function (field) {

        // Reset field height
        field.style.height = 'inherit';

        // Get the computed styles for the element
        var computed = window.getComputedStyle(field);

        // Calculate the height
        var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
                    + parseInt(computed.getPropertyValue('padding-top'), 10)
                    + field.scrollHeight
                    + parseInt(computed.getPropertyValue('padding-bottom'), 10)
                    + parseInt(computed.getPropertyValue('border-bottom-width'), 10);

        field.style.height = height + 'px';

        };

        document.addEventListener('input', function (event) {
        if (event.target.tagName.toLowerCase() !== 'textarea') return;
        autoExpand(event.target);
        }, false);


        function format(str){
            str = str.replace(/\t/g, "X");
            str = str.replace('\n', "|");
            return str;
        }

        function loadDoc() {
            
            var homeAdd = document.getElementById('home1').value  + ",|"
                            + document.getElementById('home2').value + ",|"
                            + document.getElementById('home3').value + ","
                            + document.getElementById('home4').value + ","
                            + document.getElementById('home5').value + ",|"
                            + "phone: " + document.getElementById('home6').value + ",|"
                            + "fax: " + document.getElementById('home7').value + ",|"
                            + "email: " + document.getElementById('home8').value + ",";

            var wordAdd = document.getElementById('work1').value + ",|"
                            + document.getElementById('work2').value + ",|"
                            + document.getElementById('work3').value + ","
                            + document.getElementById('work4').value + ","
                            + document.getElementById('work5').value + ",|"
                            + "phone: " + document.getElementById('work6').value + ",|"
                            + "fax: " + document.getElementById('work7').value + ",|"
                            + "email: " + document.getElementById('work8').value + ",";

            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var education = format(document.getElementById('education').value);
           
            var postgradtraining = format(document.getElementById('pgtcon').value);
            var othertraining = format(document.getElementById('othercon').value);
            var academicappt = format(document.getElementById('academic').value);
            var clinicalappt = format(document.getElementById('clinical').value);
            var license = format(document.getElementById('license').value);
            var boardcertificate = format(document.getElementById('certificate').value);
            var awards = format(document.getElementById('awards').value);
            var didactic = format(document.getElementById('didactic').value);
            var ugm = format(document.getElementById('ugm').value);
            var gst = format(document.getElementById('gst').value);
            var hms = format(document.getElementById('hms').value);
            var us = format(document.getElementById('us').value);
            var cs = format(document.getElementById('cs').value);
            var mlp = format(document.getElementById('mlp').value);
            var mari = format(document.getElementById('mari').value);
            var gsc = format(document.getElementById('gsc').value);
            var ipp = format(document.getElementById('ipp').value);
            var ilk = format(document.getElementById('ilk').value);
            var igr = format(document.getElementById('igr').value);
            
            


            var data = "name=" + name + "&"
            + "email=" + email + "&"
            + "work=" + wordAdd + "&"
            + "home=" + homeAdd + "&"
            + "education=" + education + "&"
            + "post_graduate_training=" + postgradtraining + "&"
            + "other_training=" + othertraining + "&"
            + "academic_appointment=" + academicappt + "&"
            + "clinical_appointment=" + clinicalappt + "&"
            + "license=" + license + "&"
            + "board_certificates=" + boardcertificate + "&"
            + "honors_awards=" + awards + "&"
            + "didactic=" + didactic + "&"
            + "ugm=" + ugm + "&"
            + "gst=" + gst + "&"
            + "hms=" + hms + "&"
            + "us=" + us + "&"
            + "cs=" + cs + "&"
            + "mlp=" + mlp + "&"
            + "mari=" + mari + "&"
            + "gsc=" + gsc + "&"
            + "ipp=" + ipp + "&"
            + "ilk=" + ilk + "&"
            + "igr=" + igr;



            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/generateResume?" + data, true);
            xhttp.send();
        }


        function getPublications(id){
            
            var list = "";
            var xhttp = new XMLHttpRequest();

            var name = document.getElementById('name').value.split(" ");
            //console.log(name);
            var nameStr = '"' +name[1] + "+" +name[0].charAt(0) + '"[au]';
            //console.log(nameStr);
            xhttp.open("POST",'https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&term='+nameStr+'&retmax=50&retmode=json&api_key=63671c35f32fbe450f89377113be0771ae08',true);
            xhttp.onreadystatechange=function() {
                if (xhttp.readyState==4 && xhttp.status==200) {
                   var data = JSON.parse(xhttp.responseText);
                   list = data.esearchresult.idlist;

                   var xmlHttp = new XMLHttpRequest();

                    var url = 'https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=pubmed&retmode=json&id=';
                    
                    var ids = "";
                    for(var i=0; i<list.length;i++){
                        if(i+1 === list.length){
                            ids += list[i];
                        }else{
                            ids += list[i] + ",";
                        }
                    }
                    url += ids;
                    //console.log("ggg");
                    xmlHttp.open("POST",url,true);
                    xmlHttp.onreadystatechange= function(){
                        if(xmlHttp.readyState == 4 && xmlHttp.status==200){
                            var dat = JSON.parse(xmlHttp.responseText)
                            for(var i=0;i<list.length;i++){
                               document.getElementById('publications').innerHTML += '<div class="shadow p-3 mb-5 bg-white rounded">'+
                                '<div class="card" style="color:black;">'+
                                    '<div class="card-body" style="margin:20px;">'+
                                        '<p class="text-justify"><b>Title:</b>' + dat.result[list[i]].title +'</p>'+
                                        '<p class="text-justify"> <b>Journal:</b>' + dat.result[list[i]].fulljournalname +'</p>'+
                                    '</div>'+
                                '</div>'+
                               '</div>';
                               //console.log(dat.result[list[i]].title);
                            }
                        }
                    }
                    xmlHttp.send();
                }
            }
            xhttp.send();

        }

    </script>
</head>
<body id ="n1_2">
        <div style="align-content: center; width: 80%; align-self: center;position: absolute; left: 10%; top: 3rem;">
        
            
            <blockquote style="border-color: #6AC142;"><h3>PERSONAL INFORMATION:</h3></blockquote>
    
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
            <br/>
            <br/>
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
            <br/>
            <br/>
            <div id="personalInfo"  class= "card-deck">
                <div id="info" class="card">
                    <div class="card-body" style="display: inline-table; margin: 1rem; width: 90%; color: black;">
                        <h5 class="card-title">Work:</h5>
                        <input style="margin: 0.2rem;" class="form-control" id="work1" type="text" placeholder="Address Line 1">
                        <input style="margin: 0.2rem;" class="form-control" id="work2" type="text" placeholder="Address Line 2">
                        <input style="margin: 0.2rem;" class="form-control" id="work3" type="text" placeholder="City">
                        <input style="margin: 0.2rem;" class="form-control" id="work4" type="text" placeholder="State">
                        <input style="margin: 0.2rem;" class="form-control" id="work5" type="number" placeholder="zipcode">
                        <input style="margin: 0.2rem;" class="form-control" id="work6" type="tel" placeholder="Phone">
                        <input style="margin: 0.2rem;" class="form-control" id="work7" type="tel" placeholder="Fax">
                        <input style="margin: 0.2rem;" class="form-control" id="work8" type="email" placeholder="Work email">
                    </div>
                </div>
          
              <div id="info" class="card">
                    <div class="card-body" style="display: inline-table;margin: 1rem; width: 90%; color: black;">
                        <h5 class="card-title>">Home:</h5>  
                        <input style="margin: 0.2rem;" class="form-control" id="home1" type="text" placeholder="Address Line 1">
                        <input style="margin: 0.2rem;" class="form-control" id="home2" type="text" placeholder="Address Line 2">
                        <input style="margin: 0.2rem;" class="form-control" id="home3" type="text" placeholder="City">
                        <input style="margin: 0.2rem;" class="form-control" id="home4" type="text" placeholder="State">
                        <input style="margin: 0.2rem;" class="form-control" id="home5" type="number" placeholder="zipcode">
                        <input style="margin: 0.2rem;" class="form-control" id="home6" type="tel" placeholder="Phone">
                        <input style="margin: 0.2rem;" class="form-control" id="home7" type="tel" placeholder="Fax">
                        <input style="margin: 0.2rem;" class="form-control" id="home8" type="email" placeholder="Work email">
                   </div>
                </div>
            </div>
            <br/>
            <br/>
           
            <br/>
            <br/>

            <blockquote style="border-color: #6AC142;"><h3>Education and Graduation Training:</h3></blockquote>
            
            <div>
                <h4>Education:</h4>
                <textarea class="form-control" id="education" rows="7"></textarea>
            </div>
            <br/>
            <br/>
            <div>
              <h4>Post Graduation Training:</h4>
              <textarea class="form-control" id="pgtcon" rows="7"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Other Training:</h4>
                <textarea class="form-control" id="othercon" rows="7"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Academic Appoitments:</h4>
                <textarea class="form-control" id="academic" rows="7"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Clinical Appointments:</h4>
                <textarea class="form-control" id="clinical" rows="7"></textarea>
            </div>
            <br/>
            <br/>


            <blockquote style="border-color: #6AC142;"><h3>LICENSURE & CERTIFICATIONS:</h3></blockquote>

            <div>
              <h4>Licensure:</h4>
              <textarea class="form-control" id="license" rows="4"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Board certification/eligibility:</h4>
                <textarea class="form-control" id="certificate" rows="4"></textarea>
            </div>
            <br/>
            <br/>

            <blockquote style="border-color: #6AC142;"><h3>HONORS & AWARDS:</h3></blockquote>
            <div>
                <textarea class="form-control" id="awards" rows="15"></textarea>
            </div>
            <br/>
            <br/>
            <blockquote style="border-color: #6AC142;"><h3>TEACHING:</h3></blockquote>
            <div>
                <h4>Didactic Teaching:</h4>
                <textarea class="form-control" id="didactic" rows="15"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Undergraduate, Graduate & Medical Student Training:</h4>
                <textarea class="form-control" id="ugm" rows="7"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Graduate student Thesis, exam and disscretion comittee:</h4>
                <textarea class="form-control" id="gst" rows="7"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Postgraduate Mentorship:</h4>
                <textarea class="form-control" id="pgm" rows="7"></textarea>
            </div>
            <br/>
            <br/>
            <blockquote style="border-color: #6AC142;"><h3>SERVICE:</h3></blockquote>
            <br/>
            <br/>
            <div>
                <h4>Hospital or Medical group service:</h4>
                <textarea class="form-control" id="hms" rows="10"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>University Service:</h4>
                <textarea class="form-control" id="us" rows="8"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Professional Service:</h4>
                <textarea class="form-control" id="ps" rows="10"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Professional Society Membership:</h4>
                <textarea class="form-control" id="psm" rows="5"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Community Service:</h4>
                <textarea class="form-control" id="cs" rows="5"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Major leadership position:</h4>
                <textarea class="form-control" id="mlp" rows="15"></textarea>
            </div>
            <br/>
            <br/>
            <blockquote style="border-color: #6AC142;"><h3>RESEARCH AND SCHOLARSHIP:</h3></blockquote>
            <br/>
            <br/>
            <div>
                <h4>Major areas or research interest:</h4>
                <textarea class="form-control" id="mari" rows="5"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Grant support-Current:</h4>
                <textarea class="form-control" id="gsc" rows="15"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Grant support-Past:</h4>
                <textarea class="form-control" id="gsp" rows="10"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Issued & Pending patents:</h4>
                <textarea class="form-control" id="ipp" rows="3"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Invited Lectures and keynote:</h4>
                <textarea class="form-control" id="ilk" rows="15"></textarea>
            </div>
            <br/>
            <br/>
            <div>
                <h4>Invited Grand Rounds, CME Lectures:</h4>
                <textarea class="form-control" id="igr" rows="5"></textarea>
            </div>
            <br/>
            <br/>


            <blockquote style="border-color: #6AC142;"><h3>PUBLICATIONS:</h3></blockquote>


            <button class="btn btn-raised" style="background-color: #6AC142;" type="button" onclick="getPublications()">Get publications</button>            
            <br/>
            <br/>
            <br/>

            <div id="publications" style="font-family: monospace;"></div>

            
            <br/>
            <br/>
            
            <button class="btn btn-raised" style="background-color: #6AC142;" type="button" onclick="loadDoc()">Generate Resume</button>
            <br/>
            <br/>
            <br/>

        </div>
</body>