<style>
  td{
    padding-right: 20px;
  }
.resuTitle{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  color:black;
  font-weight: bold;
  margin: 0;
}
.page{
    align-self: center;
    width: 8.5in;
    height: 11in;
    margin: 0;
    padding: 0;
}
.address{
  display: inline-block;
  width: 300;
}

.sectionTitle{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  color:black;
  font-weight: bold;
  margin: 0;
}

.subsection{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color:black;
  font-weight: bold;
  margin-bottom: 0;
}


</style>

<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Marko+One&display=swap" rel="stylesheet">
    <title> CV Parser</title>
</head>
<body>
    <div class="page">
        <h2 class="resuTitle">CURRICULUM VITAE</h2>
        <h2 id="name" class="resuTitle">Tanay Shah</h2>
        <h3 id='year' class="resuTitle">December 2018</h3>
        <br/>
        <h2  class="sectionTitle" > Personal Information:</h2>
        
        <div style="display: table; align-self: center;">
          <div class="address" style="float: left;">
            <h3 style="font-weight: bold;margin-bottom: 0;">Work</h3>
            <div id="work"style="margin-left: 10;">
                Children’s Hospital Los Angeles<br>
                4650 Sunset Blvd., Mailstop<br>
                Los Angeles, CA 90027<br>
                Phone:  (323) 361-2113<br>
                Fax:  (323) 361-8003<br>   
            </div>
          </div>
          <div class="address" style="float:center;">
              <h3 style="font-weight: bold;margin-bottom: 0;">Home</h3>
              <div id="home" style="margin-left: 10;">
                  Children’s Hospital Los Angeles<br>
                  4650 Sunset Blvd., Mailstop<br>
                  Los Angeles, CA 90027<br>
                  Phone:  (323) 361-2113<br>
                  Fax:  (323) 361-8003<br>  
              </div>
          </div>
        </div>
        <br/>

        <!-- Education and personal information -->
        <h2 class="sectionTitle"> Education and Professional Appoitments:</h2>
        <h3 class="subsection">Education:</h3>
        <div id="education" style="margin-left: 10;">
            <i>Year&emsp;Degree, Field, Institution, City</i><br/>
            2001&emsp;High School, Grace King High School, Metairie, LA<br/>
            2005&emsp;B.A., Romance Languages & Linguistics, Washington University in St. Louis, St. Louis, MO<br/>
            2010&emsp;M.D., Keck School of Medicine, University of Southern California, Los Angeles, CA<br/>
        </div>


        <h3 class="subsection">Post-Graduation Training:</h3>
        <div id="pgt" style="margin-left: 10;">
            <i>Year-Year&emsp;Training Type, Field, Mentor, Department, Institution, City</i><br/>
            2001-2001&emsp;High School, Grace King High School, Metairie, LA<br/>
            2005-2005&emsp;B.A., Romance Languages & Linguistics, Washington University in St. Louis, St. Louis, MO<br/>
            2010-2010&emsp;M.D., Keck School of Medicine, University of Southern California, Los Angeles, CA<br/>
        </div>


        <h3 class="subsection">Other Training:</h3>
        <div id="othertrain" style="margin-left: 10;">
            <i>Year-Year&emsp;Training Type, Field, Mentor, Department, Institution, City</i><br/>
            2001-2001&emsp;High School, Grace King High School, Metairie, LA<br/>
            2005-2005&emsp;B.A., Romance Languages & Linguistics, Washington University in St. Louis, St. Louis, MO<br/>
            2010-2010&emsp;M.D., Keck School of Medicine, University of Southern California, Los Angeles, CA<br/>
        </div>


        <h3 class="subsection">Academic Appoitments:</h3>
        <div style="margin-left: 10;">
          <table border="0" id="academic">
            <tr style="font-style: italic;" >
              <td>Year-Year</td>
              <td>Appointment</td>
              <td>Department, Institution, City, Country</td>
            </tr>
            <tr>
              <td>2014-present</td>
              <td>Assistant Professor of<br/>Clinical Pediatrics</td>
              <td>Keck School of Medicine of USC, Los Angeles, CA</td>
            </tr>
          </table>
        </div>

        
        <h3 class="subsection">Clinical Appoitments:</h3>
        <div style="margin-left: 10;">
          <table border="0" id="clinical">
            <tr style="font-style: italic;" >
              <td>Year-Year</td>
              <td>Appointment</td>
              <td>Department, Institution, City, Country</td>
            </tr>
            <tr>
              <td>2014-present</td>
              <td>Assistant Professor of<br/>Clinical Pediatrics</td>
              <td>Keck School of Medicine of USC, Los Angeles, CA</td>
            </tr>
          </table>
        </div>
        <br/>

        <!--Lincesure, Certification-->
        <h2  class="sectionTitle"> Licensure, Certifications:</h2>
        <h3 class="subsection">Licensure:</h3>
        <div id="license" style="margin-left: 10;">
            <i>Year&emsp;License number, State, Status</i><br/>
            2012&emsp;Certificate A121058, California, active<br/>
            2017&emsp;LPA4 (Spanish), CHLA, Los Angles, CA, active
        </div>

        <h3 class="subsection">Board Certification or Eligibility:</h3>
        <div id="board" style="margin-left: 10;">
            <i>Year&emsp;Board, State, Status</i><br/>
            2012&emsp;Medical Board of California, current<br/>
            2013&emsp;American Board of Pediatrics, current
        </div>
        <br/>
        
        <!--Honors and Awards-->
        <h2  class="sectionTitle"> Honors, Awards:</h2>
        <div style="margin-left: 10;">
            <table border="0" id="honors">
              <tr style="font-style: italic;" >
                <td>Year</td>
                <td>Description</td>
                <td>Awarding agency, address, city</td>
              </tr>
              <tr>
                <td>2014</td>
                <td>Assistant Professor of<br/>Clinical Pediatrics</td>
                <td>Keck School of Medicine of USC, Los Angeles, CA</td>
              </tr>
            </table>
          </div>

          <br/>
          




    </div>
</body>