<!-- ———————      CSS      ——————— -->
<style>
  /* Login Page */
  #n1_2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(1, 91, 154);
  }

  /* chla logo */
  #n1_3 {
    background-image: url("https://s3-alpha-sig.figma.com/img/cbbe/6ec4/81e62f106a20c9a2b4e9cde72c14107d?Expires=1571616000&Signature=g3IQfuXmP4jFfnnVIz56OJcADrY09EFPNGHkK7Sb9c7ngdxldQZF7YhUO7gfuML1k6nzaUdr~IrkQAYSgjNMMehMZ9zU3Ee8shR-Jy0hkk6xe3dxM8nleaKiY~QectpoOX-ENUqZrOLCTGn3O8uqxZI80RN~3rMDcRR~9zMgXBB7TQo2-Y-uFECf7z-TTBRBwkeOhrnggihIxysrK3Hojjb1Qmsgw4Cy2u43c2blshF2xzqiZv63wT~QTusL0feo~rlyi~NX-nbxHE4Jy7AY9XOXn9SzSRzE8YdH-LI0SjBmMEbYX5xWhpESvc1DKKu-Vh1ZTwECiyemGYHBaVYFgA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: calc((50% - 141px) + -550px);
    width: 282px;
    top: calc((50% - 74px) + -416px);
    height: 148px;
  }

  /* Username */
  #n1_4 {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    left: calc((50% - 408.5px) + -0.5px);
    width: 817px;
    top: calc((50% - 25.5px) + 97.5px);
    height: 51px;
  }

  /* Employee ID */
  #n1_7 {
    font-family: Cabin;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(1, 91, 154, 0.5);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 273px;
    align-items: center;
    line-height: 28.125px;
    height: 49px;
    left: calc((50% - 136.5px) + -0.5px);
    top: calc((50% - 24.5px) + 96.5px);
  }

  /* Password */
  #n1_5 {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    left: calc((50% - 408.5px) + -0.5px);
    width: 817px;
    top: calc((50% - 25.5px) + 181.5px);
    height: 51px;
  }

  /* Employee ID */
  #n1_8 {
    font-family: Cabin;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(1, 91, 154, 0.5);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 273px;
    align-items: center;
    line-height: 28.125px;
    height: 49px;
    left: calc((50% - 136.5px) + -0.5px);
    top: calc((50% - 24.5px) + 182.5px);
  }

  /* CV-Genius */
  #n1_9 {
    font-family: "Marko One";
    font-size: 96px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 635px;
    align-items: center;
    line-height: 112.5px;
    height: 94px;
    left: calc((50% - 317.5px) + -0.5px);
    top: calc((50% - 47px) + -137px);
  }

  /* Register? */
  #n1_10 {
    font-family: "Markazi Text";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 171px;
    align-items: center;
    line-height: 42.1875px;
    height: 37px;
    left: calc((50% - 85.5px) + -0.5px);
    top: calc((50% - 18.5px) + 260.5px);
  }
</style>

<!-- Login Page -->
<div class="frame" id="n1_2">
  <!-- chla logo -->
  <div class="center rectangle" id="n1_3"></div>
  <!-- Username -->
  <div class="center rectangle" id="n1_4"></div>
  <!-- Employee ID -->
  <div class="center text" id="n1_7">Username</div>
  <!-- Password -->
  <div class="center rectangle" id="n1_5"></div>
  <!-- Employee ID -->
  <div class="center text" id="n1_8">Password</div>
  <!-- CV-Genius -->
  <div class="center text" id="n1_9">CV-Genius</div>
  <!-- Register? -->
  <div class="center text" id="n1_10">Register?</div>
</div>
