<!-- Pg2 -->
<div class="frame" id="n2_8">
  <!-- Side Bar -->
  <div class="center rectangle" id="n2_9"></div>
  <!-- Display -->
  <div class="center rectangle" id="n2_10"></div>
  <!-- Rectangle 1 -->
  <div class="center rectangle" id="n2_12"></div>
  <!-- + New -->
  <div class="center text" id="n2_13">+ New</div>
  <!-- Rectangle 2 -->
  <div class="center rectangle" id="n2_14"></div>
  <!-- Rectangle 3 -->
  <div class="center rectangle" id="n2_19"></div>
  <!-- Rectangle 4 -->
  <div class="center rectangle" id="n2_20"></div>
  <!-- Rectangle 5 -->
  <div class="center rectangle" id="n2_23"></div>
  <!-- icons8-download-100 (1) 1 -->
  <div class="center rectangle" id="n3_2"></div>
  <!-- Rectangle 6 -->
  <div class="center rectangle" id="n3_3"></div>
  <!-- icons8-download-100 (1) 2 -->
  <div class="center rectangle" id="n3_4"></div>
  <!-- icons8-edit-64 1 -->
  <div class="center rectangle" id="n3_6"></div>
  <!-- icons8-edit-64 2 -->
  <div class="center rectangle" id="n3_7"></div>
  <!-- icons8-delete-bin-32 1 -->
  <div class="left top rectangle" id="n3_8"></div>
  <!-- icons8-delete-bin-32 2 -->
  <div class="center rectangle" id="n3_9"></div>
  <!-- Rectangle 4 -->
  <div class="center rectangle" id="n3_25"></div>
  <!-- Log Out -->
  <div class="center text" id="n3_26">Log Out</div>
  <!-- Download -->
  <div class="center text" id="n2_24">Download</div>
  <!-- Download -->
  <div class="center text" id="n3_5">Download</div>
  <!-- Past Cv -->
  <div class="center text" id="n2_15">Past Cv</div>
  <!-- Current Cv -->
  <div class="center text" id="n2_16">Current Cv</div>
  <!-- Update Referneces -->
  <div class="center text" id="n2_17">Update Referneces</div>
  <!-- CV - Tommy_Trojan_USC -->
  <div class="center text" id="n2_21">CV - Tommy_Trojan_USC</div>
  <!-- CV - Tommy_Trojan_UCLA -->
  <div class="center text" id="n2_22">CV - Tommy_Trojan_UCLA</div>
  <!-- 07/13/1997 -->
  <div class="center text" id="n3_12">07/13/1997</div>
  <!-- 07/13/1997 -->
  <div class="center text" id="n3_13">07/13/1997</div>
</div>

<!-- ———————      CSS      ——————— -->
<style>
  /* Pg2 */
  #n2_8 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(1, 91, 154);
  }

  /* Side Bar */
  #n2_9 {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    left: calc((50% - 167.5px) + -525.5px);
    width: 335px;
    top: calc((50% - 425px) + 62px);
    height: 850px;
  }

  /* Display */
  #n2_10 {
    background: rgb(1, 91, 154);
    border-radius: 10px;
    left: calc((50% - 514px) + 179px);
    width: 1028px;
    top: calc((50% - 487px) + 0px);
    height: 974px;
  }

  /* Rectangle 1 */
  #n2_12 {
    background: rgb(106, 193, 66);
    border-radius: 50px;
    left: calc((50% - 167.5px) + -525.5px);
    width: 335px;
    top: calc((50% - 43px) + -437px);
    height: 86px;
  }

  /* + New */
  #n2_13 {
    font-family: "Marko One";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 257px;
    align-items: center;
    line-height: 46.875px;
    height: 50px;
    left: calc((50% - 128.5px) + -525.5px);
    top: calc((50% - 25px) + -437px);
  }

  /* Rectangle 2 */
  #n2_14 {
    background: rgb(1, 91, 154);
    border-radius: 10px;
    left: calc((50% - 140.5px) + -529.5px);
    width: 281px;
    top: calc((50% - 36px) + -196px);
    height: 72px;
  }

  /* Rectangle 3 */
  #n2_19 {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    left: calc((50% - 485.5px) + 178.5px);
    width: 971px;
    top: calc((50% - 85.5px) + -384.5px);
    height: 171px;
  }

  /* Rectangle 4 */
  #n2_20 {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    left: calc((50% - 485.5px) + 178.5px);
    width: 971px;
    top: calc((50% - 93px) + -185px);
    height: 186px;
  }

  /* Rectangle 5 */
  #n2_23 {
    background: rgb(1, 91, 154);
    border-radius: 50px;
    left: calc((50% - 203.5px) + -94.5px);
    width: 407px;
    top: calc((50% - 27.5px) + -335.5px);
    height: 55px;
  }

  /* icons8-download-100 (1) 1 */
  #n3_2 {
    background-image: url("https://s3-alpha-sig.figma.com/img/18a2/1bba/aee0bbeb42355465ff666bde25e9ab56?Expires=1571616000&Signature=biMh2VPfzOHIQp7pNEnX1V~zmOzh1tyb~2cI7USi6u573oWmvePwyUuVcK3EXLkNbGZT9-37RNWYD-uHZ7M1VxGjWmXklFnufSDGvsy5if9stqYS-WhQckZ-~p62DuYNVRiXUkO54t~FHI59PkEMJrodQ4UyWPBoEqKWb1p9qsDMifqqfqJR8H6OJhP48Jcvmt5pZGmv5aoPhweBP7XpclyDe7FXr7FBvnMsUGuFc996C8jt8MOM5v8plEN6E70910jpwOnHrPlSj-OwxqV9C4jQQDXgk3QRmoU5iW-SJOFgMHCA2~8Kgc-VuhBfUcZaOb~mDQnfeR8ByYVmshnCAA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: calc((50% - 31px) + -225px);
    width: 62px;
    top: calc((50% - 22.5px) + -335.5px);
    height: 45px;
  }

  /* Rectangle 6 */
  #n3_3 {
    background: rgb(1, 91, 154);
    border-radius: 50px;
    left: calc((50% - 203.5px) + -94.5px);
    width: 407px;
    top: calc((50% - 27.5px) + -129.5px);
    height: 55px;
  }

  /* icons8-download-100 (1) 2 */
  #n3_4 {
    background-image: url("https://s3-alpha-sig.figma.com/img/18a2/1bba/aee0bbeb42355465ff666bde25e9ab56?Expires=1571616000&Signature=biMh2VPfzOHIQp7pNEnX1V~zmOzh1tyb~2cI7USi6u573oWmvePwyUuVcK3EXLkNbGZT9-37RNWYD-uHZ7M1VxGjWmXklFnufSDGvsy5if9stqYS-WhQckZ-~p62DuYNVRiXUkO54t~FHI59PkEMJrodQ4UyWPBoEqKWb1p9qsDMifqqfqJR8H6OJhP48Jcvmt5pZGmv5aoPhweBP7XpclyDe7FXr7FBvnMsUGuFc996C8jt8MOM5v8plEN6E70910jpwOnHrPlSj-OwxqV9C4jQQDXgk3QRmoU5iW-SJOFgMHCA2~8Kgc-VuhBfUcZaOb~mDQnfeR8ByYVmshnCAA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: calc((50% - 31px) + -225px);
    width: 62px;
    top: calc((50% - 22.5px) + -129.5px);
    height: 45px;
  }

  /* icons8-edit-64 1 */
  #n3_6 {
    background-image: url("https://s3-alpha-sig.figma.com/img/a07f/87b8/4001cebd3bb8695167420b742318bb89?Expires=1571616000&Signature=PE1nEL2qrL9l7NPxYZZ~uEBeBufWFVORIoBBhNtD8kYRT1EWyukbqLzYm3cRBHyV5aRqNA-El0Vzm3yEFXUGJg~Piktl7ndjJTwFih6nzBVQRlRvSY0JKGcGKXLuKE8vk6vY55G-dkCRyFP-itzb1ueTqVr3XzOZGCLPDlrnH20N1DOrMc973TKcOb-96tWX2fOjnzIIre6J~wSIx6u13LLnjvRq5McjmoGSzAIlAW2clww5U5gj1FreRkQgkJXdeijIN6PfWXXxadKZ8~leZDkIWrJPNnJpUqjOe0Tc9449bZToLXbJfqcxcUSuZEmQYXRsSfFgIjboaFkiecnL3w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: calc((50% - 21.5px) + 570.5px);
    width: 43px;
    top: calc((50% - 25.5px) + -332.5px);
    height: 51px;
  }

  /* icons8-edit-64 2 */
  #n3_7 {
    background-image: url("https://s3-alpha-sig.figma.com/img/a07f/87b8/4001cebd3bb8695167420b742318bb89?Expires=1571616000&Signature=PE1nEL2qrL9l7NPxYZZ~uEBeBufWFVORIoBBhNtD8kYRT1EWyukbqLzYm3cRBHyV5aRqNA-El0Vzm3yEFXUGJg~Piktl7ndjJTwFih6nzBVQRlRvSY0JKGcGKXLuKE8vk6vY55G-dkCRyFP-itzb1ueTqVr3XzOZGCLPDlrnH20N1DOrMc973TKcOb-96tWX2fOjnzIIre6J~wSIx6u13LLnjvRq5McjmoGSzAIlAW2clww5U5gj1FreRkQgkJXdeijIN6PfWXXxadKZ8~leZDkIWrJPNnJpUqjOe0Tc9449bZToLXbJfqcxcUSuZEmQYXRsSfFgIjboaFkiecnL3w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: calc((50% - 21.5px) + 570.5px);
    width: 43px;
    top: calc((50% - 25.5px) + -127.5px);
    height: 51px;
  }

  /* icons8-delete-bin-32 1 */
  #n3_8 {
    background-image: url("https://s3-alpha-sig.figma.com/img/4fd9/c533/48abac58ac21bc841c054b5a37da720c?Expires=1571616000&Signature=OAa4JCiVSqlxYpyLJffdU9rt3T4Dwxe8l0J9VpW-WMUSJ3o0yAEu5RISA0YBFOiCvfCQrLXwFe48c~H3wgbwwmJB6AUQkBGlh~STf2l~G1UJiShWZ34Gq1Kb2gb8DOyPkeNbl2zPAbqwA4HLr7463g2R6qsgmB96Ml82lhWY1MPrkAIGX2bITFJcNLBh9VC~mVgeYHuxJQauRGPbUoAJE5xJL~xpVWfekU8cXR5AaD4iYnMuX4ojfx~dp8N8a6p0xOx3RP89r4cF2tWZos~~2l9279rDzKwx~m58xp4T2fkuouea5-QohubbC7p42ZG6ywbjd6u-5-DyvKe7g4a3KQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 1318px;
    width: 57px;
    top: 154px;
    height: 50px;
  }

  /* icons8-delete-bin-32 2 */
  #n3_9 {
    background-image: url("https://s3-alpha-sig.figma.com/img/4fd9/c533/48abac58ac21bc841c054b5a37da720c?Expires=1571616000&Signature=OAa4JCiVSqlxYpyLJffdU9rt3T4Dwxe8l0J9VpW-WMUSJ3o0yAEu5RISA0YBFOiCvfCQrLXwFe48c~H3wgbwwmJB6AUQkBGlh~STf2l~G1UJiShWZ34Gq1Kb2gb8DOyPkeNbl2zPAbqwA4HLr7463g2R6qsgmB96Ml82lhWY1MPrkAIGX2bITFJcNLBh9VC~mVgeYHuxJQauRGPbUoAJE5xJL~xpVWfekU8cXR5AaD4iYnMuX4ojfx~dp8N8a6p0xOx3RP89r4cF2tWZos~~2l9279rDzKwx~m58xp4T2fkuouea5-QohubbC7p42ZG6ywbjd6u-5-DyvKe7g4a3KQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: calc((50% - 28.5px) + 626.5px);
    width: 57px;
    top: calc((50% - 25px) + -127px);
    height: 50px;
  }

  /* Rectangle 4 */
  #n3_25 {
    background: rgb(193, 96, 66);
    border-radius: 50px;
    left: calc((50% - 159px) + -525px);
    width: 318px;
    top: calc((50% - 43px) + 433px);
    height: 86px;
  }

  /* Log Out */
  #n3_26 {
    font-family: "Marko One";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 244px;
    align-items: center;
    line-height: 46.875px;
    height: 50px;
    left: calc((50% - 122px) + -529px);
    top: calc((50% - 25px) + 433px);
  }

  /* Download */
  #n2_24 {
    font-family: "Marko One";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 380px;
    align-items: center;
    line-height: 42.1875px;
    height: 57px;
    left: calc((50% - 190px) + -59px);
    top: calc((50% - 28.5px) + -335.5px);
  }

  /* Download */
  #n3_5 {
    font-family: "Marko One";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 380px;
    align-items: center;
    line-height: 42.1875px;
    height: 57px;
    left: calc((50% - 190px) + -59px);
    top: calc((50% - 28.5px) + -129.5px);
  }

  /* Past Cv */
  #n2_15 {
    font-family: "Marko One";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 281px;
    align-items: center;
    line-height: 42.1875px;
    height: 54px;
    left: calc((50% - 140.5px) + -529.5px);
    top: calc((50% - 27px) + -196px);
  }

  /* Current Cv */
  #n2_16 {
    font-family: "Marko One";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 281px;
    align-items: center;
    line-height: 42.1875px;
    height: 54px;
    left: calc((50% - 140.5px) + -529.5px);
    top: calc((50% - 27px) + -299px);
  }

  /* Update Referneces */
  #n2_17 {
    font-family: "Marko One";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 281px;
    align-items: center;
    line-height: 42.1875px;
    height: 54px;
    left: calc((50% - 140.5px) + -529.5px);
    top: calc((50% - 27px) + -74px);
  }

  /* CV - Tommy_Trojan_USC */
  #n2_21 {
    font-family: "Marko One";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 477px;
    align-items: center;
    line-height: 42.1875px;
    height: 48px;
    left: calc((50% - 238.5px) + -59.5px);
    top: calc((50% - 24px) + -435px);
  }

  /* CV - Tommy_Trojan_UCLA */
  #n2_22 {
    font-family: "Marko One";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 504px;
    align-items: center;
    line-height: 42.1875px;
    height: 48px;
    left: calc((50% - 252px) + -46px);
    top: calc((50% - 24px) + -247px);
  }

  /* 07/13/1997 */
  #n3_12 {
    font-family: "Marko One";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(196, 196, 196);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 186px;
    align-items: center;
    line-height: 28.125px;
    height: 25px;
    left: calc((50% - 93px) + 571px);
    top: calc((50% - 12.5px) + -254.5px);
  }

  /* 07/13/1997 */
  #n3_13 {
    font-family: "Marko One";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(196, 196, 196);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 186px;
    align-items: center;
    line-height: 28.125px;
    height: 25px;
    left: calc((50% - 93px) + 571px);
    top: calc((50% - 12.5px) + -446.5px);
  }
</style>
