<div class="row">
        <div class="col s12">
            <div class="col s1">
                <input type="number" placeholder="year">
            </div>
          <div class="col s2">
              <input type="text" placeholder="Degree & Field">
          </div>
          <div class="col s7">
              <input type="text" placeholder="Institution name">
          </div>
          <div class="col s2">
              <input type="text" placeholder="City">
          </div>
          
        </div>
</div>