<!DOCTYPE html>
<head>
    <title> CV Parser</title>
    <script>
        var data = '{{parsedData}}';
        console.log(data.name);
        </script>
</head>
<body>
        <form enctype="multipart/form-data" action="http://localhost:5000/uploaded" method="POST">
            <br/>
            <input placeholder="" type="text" class ="name" name="pass" id="n1_4" style="margin-top: 0.75rem;" disabled/>
            <br/>
            <input type="file"  name="file" id="file" class="upload" onchange="update()"/>
            <label id ="lbl" for="file">Choose a file</label>
            <button type="submit">Submit</button>
          </form>
</body>