<!-- Frame 1 -->
<div class="frame" id="n6_3">
  <!-- CV-Genius -->
  <div class="center text" id="n6_11">CV-Genius</div>
  <!-- Please upload your Resume -->
  <div class="center text" id="n6_15">Please upload your Resume</div>
  <!-- Rectangle 4 -->
  <div class="center rectangle" id="n6_13"></div>
  <!-- Upload -->
  <div class="center text" id="n6_14">Upload</div>
  <!-- Surgeries -->
  <div class="center text" id="n6_10">Surgeries</div>
  <!-- Contact -->
  <div class="center text" id="n6_9">Education</div>
</div>

<!-- ———————      CSS      ——————— -->
<style>
  /* Frame 1 */
  #n6_3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(1, 91, 154);
  }

  /* CV-Genius */
  #n6_11 {
    font-family: "Marko One";
    font-size: 96px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 635px;
    align-items: center;
    line-height: 112.5px;
    height: 94px;
    left: calc((50% - 317.5px) + -0.5px);
    top: calc((50% - 47px) + -318.5px);
  }

  /* Please upload your Resume */
  #n6_15 {
    font-family: "Marko One";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 635px;
    align-items: center;
    line-height: 75px;
    height: 94px;
    left: calc((50% - 317.5px) + -0.5px);
    top: calc((50% - 47px) + -22.5px);
  }

  /* Rectangle 4 */
  #n6_13 {
    background: rgb(106, 193, 66);
    border-radius: 50px;
    left: calc((50% - 159px) + 490px);
    width: 318px;
    top: calc((50% - 43px) + 419.5px);
    height: 86px;
  }

  /* Upload */
  #n6_14 {
    font-family: "Marko One";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 244px;
    align-items: center;
    line-height: 46.875px;
    height: 50px;
    left: calc((50% - 122px) + 490px);
    top: calc((50% - 25px) + 419.5px);
  }

  /* Surgeries */
  #n6_10 {
    font-family: "Marko One";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(1, 91, 154);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 281px;
    align-items: center;
    line-height: 42.1875px;
    height: 54px;
    left: calc((50% - 140.5px) + -186.5px);
    top: calc((50% - 27px) + 344.5px);
  }

  /* Contact */
  #n6_9 {
    font-family: "Marko One";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(1, 91, 154);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 281px;
    align-items: center;
    line-height: 42.1875px;
    height: 54px;
    left: calc((50% - 140.5px) + -186.5px);
    top: calc((50% - 27px) + 147.5px);
  }
</style>

<body>
  <form enctype="multipart/form-data" action="http://localhost:5000/uploaded" method="POST">
      <input type="file" name="file"/>
      <button type="submit">Submit</button>
    </form>
</body>
